body {
    width: 100%;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1100px;
    padding: 0 22px;
    @include center-block;
}

.outer-container {
    max-width: 1140px;
    padding: 0 22px;
    @include center-block;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

ul {
    &, li {
        list-style-type: none;  
    }
}

.heading-underline {
    width: 65px;
    border: 1px solid $light-blue-grey;
    @include center-block;
}
