.btn {
    border-radius: 2px;
    border: none;
    outline: none;
    cursor: pointer;
    &.btn-primary {
        background-color: $primary-blue;
        color: $white;
        transition: 0.3s;
        &:hover {
            color: $primary-blue;
            background-color: $white
        }
    }
    &.btn-default {
        background-color: $white;
        color: $primary-blue;
        transition: 0.3s;
        &:hover {
            color: $white;
            background-color: $primary-blue
        }
    }
    &.btn-lg {
        padding: 20px 36px;
        font-size: 14px;
        font-weight: 600;
    }
    &.btn-sm {
        padding: 8px 20px;
        font-size: 13px;
        font-weight: 600;
    }
}
