.btn {
    border-radius: 2px;
    border: none;
    outline: none;
    cursor: pointer;
    &.btn-primary {
        background-color: $primary-blue;
        color: $white;
        border: 2px solid $primary-blue;
        transition: 0.3s;
        &:hover {
            color: $primary-blue;
            background-color: $white;
        }
    }
    &.btn-default {
        background-color: $white;
        color: $primary-blue;
        transition: 0.3s;
        &:hover {
            color: $white;
            background-color: $primary-blue
        }
    }
    &.btn-lg {
        height: 60px;
        width: 207px;
        font-size: 14px;
        @media (max-width: 640px) {
            height: 48px;
            width: 180px;
        }
    }
    &.btn-sm {
        height: 34px;
        width: 110px;
        font-size: 13px;
    }
}
