$primary-blue: #23c0f5;
$secondary-blue: #4ad5f6;
$white: #ffffff;
$dark-grey: #454f5b;
$dull-blue: #69939d;
$dark-blue-grey: #6a7c92;
$light-blue-grey: #c4cdd5;
$battleship-grey: #637381;
$dull-black: #47495a;
$black: #000;