.perfect-rate {
    padding: 60px 0;
    background: url(../images/perfect-rate-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    @media (max-width: 640px) {
        background-position: right;
    }
    .perfect-rate__heading {
        color: $white;
        margin-bottom: 16px;
    }
    .pr-content__container {
        max-width: 420px;
        margin-left: auto;
        color: $white;
        @media (max-width: 640px) {
            margin-left: unset;
        }
        .pr-benefits {
            line-height: 2.86;
            @media (max-width: 640px) {
                line-height: 2.3;
            }
            li {
                padding-left: 35px;
                .tick {
                    @include position(absolute, 8px, null, null, 0);
                    height: 24px;
                    width: 24px;
                    border: 2px solid #fff;
                    border-radius: 50%;
                    @media (max-width: 640px) {
                        top: 4px;
                    }

                    &::before {
                        content: "";
                        @include position(absolute, 9px, null, null, 5px);
                        border-left: 2px solid #fff;
                        height: 5px;
                        transform: rotate(-45deg);
                    }
                    &::after {
                        content: "";
                        @include position(absolute, 5px, 8px, null, null);
                        border-left: 2px solid #fff;
                        height: 11px;
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }
}
