@font-face {
    font-family: "Open Sans";
    src: url(/dist/font/OpenSans.ttf);
}

.heading {
    &-lg {
        font-size: 44px;
        line-height: 1.14;
        @media (max-width: 640px) {
            font-size: 28px;
            line-height: 1.4;
        }
    }
    &-md {
        font-size: 32px;
        line-height: normal;
        @media (max-width: 640px) {
            font-size: 26px;
        }
    }
    &-sm {
        font-size: 24px;
        line-height: normal;
    }
    &-xs {
        font-size: 15px;
        line-height: 2.33;
    }
}

.text {
    &-lg {
        font-size: 22px;
        line-height: 1.81;
        @media (max-width: 640px) {
            font-size: 18px;
        }
    }
    &-md {
        font-size: 18px;
        line-height: normal;
    }
    &-sm {
        font-size: 14px;
        line-height: 1.71;
    }
    &-xs {
        font-size: 12px;
        line-height: normal;
    }
}

.fw {
    &-4 {
        font-weight: 400;
    }
    &-6 {
        font-weight: 600;
    }
}
