body {
    width: 100%;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    background: $light-grey-two;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1100px;
    padding: 0 22px;
    margin: 0 auto;
    &-outer {
        max-width: 1140px;
    }
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

ul {
    &,
    li {
        list-style-type: none;
    }
}

button,
input {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.arrow-down::after {
    content: "";
    @include position(absolute, 10px, 0, null, null);
    border-left: 4.5px solid transparent;
    border-right: 4.5px solid transparent;
    border-top: 4.5px solid $battleship-grey;
}

.arrow-updown {
    &::before {
        @extend .arrow-down::after;
        right: 15px;
        top: 13px;
        border-bottom: 4.5px solid $battleship-grey;
        border-top: none;
    }
    &::after {
        @extend .arrow-down::after;
        right: 15px;
        top: 21px;
    }
}
