.ta {
    &-center {
        text-align: center;
    }
    &-right {
        text-align: right;
    }
}

.pos-rel {
    position: relative;
}

.lh-reset {
    line-height: 0;
}

.fs-0 {
    font-size: 0;
}

.fx-center {
    display: flex;
    align-items: center;
}

.img-circle {
    border-radius: 50%;
    object-fit: cover;
}

@include margin-padding(10);

.ml-a {
    margin-left: auto;
}

.mr-a {
    margin-right: auto;
}

.icon {
    @include height-width(100%, 100%);
}

.link-hover {
    transition: 0.3s;
    &:hover {
        color: $primary-blue;
    }
    &::after {
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: $primary-blue;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }
    &:hover::after {
        width: 100%;
        left: 0;
    }
}
