@font-face {
    font-family: "Open Sans";
    src: url(/dist/font/OpenSans.ttf);
}

.heading {
    font-size: 44px;
    line-height: 1.14;
    @media (max-width: 640px) {
        font-size: 28px;
        line-height: 1.4;
    }
    &-xl {
        font-size: 36px;
        line-height: normal;
    }
    &-lg {
        font-size: 32px;
        line-height: normal;
        @media (max-width: 640px) {
            font-size: 26px;
        }
    }
    &-md {
        font-size: 24px;
        line-height: normal;
    }
    &-sm {
        font-size: 15px;
        line-height: 2.33;
    }
}

.text {
    font-size: 22px;
    line-height: 1.81;
    @media (max-width: 640px) {
        font-size: 18px;
    }
    &-lg {
        font-size: 18px;
        line-height: normal;
    }
    &-md {
        font-size: 14px;
        line-height: 1.71;
    }
    &-sm {
        font-size: 13px;
        line-height: normal;
    }
    &-xs {
        font-size: 12px;
        line-height: normal;
    }
}

.fw {
    &-l {
        font-weight: 300;
    }
    &-n {
        font-weight: 400;
    }
    &-sb {
        font-weight: 600;
    }
}
