.btn {
    border-radius: 2px;
    border: none;
    outline: none;
    cursor: pointer;
    &.btn-primary {
        @include color-bg($primary-blue, $white);
        border: 2px solid $primary-blue;
        transition: 0.3s;
        &:hover {
            @include color-bg($white, $primary-blue);
        }
    }
    &.btn-grey {
        @include color-bg($light-blue-grey, $white);
        border: 2px solid $light-blue-grey;
        transition: 0.3s;
        &:hover {
            @include color-bg($white, $light-blue-grey);
        }
    }
    &.btn-default {
        @include color-bg($white, $primary-blue);
        transition: 0.3s;
        &:hover {
            @include color-bg($primary-blue, $white);
        }
    }
    &.btn-lg {
        @include height-width(60px, 207px);
        font-size: 14px;
        @media (max-width: 640px) {
            @include height-width(48px, 100px);
        }
    }
    &.btn-md {
        @include height-width(48px, 180px);
        font-size: 14px;
    }
    &.btn-sm {
        @include height-width(34px, 114px);
        font-size: 13px;
    }
}
