.header {
    background: $white;
    width: 100%;
    @include position(fixed, 0, null, null, 0);
    z-index: 10;
    border-bottom: 1px solid $pale-blue;
    &.scroll-shadow {
        box-shadow: 0 2px 10px #bababa;
        transition: 0.5s;
    }
    .navbar {
        .nav-list__container {
            &:first-child {
                margin-right: auto;
            }
        }
    }
}

.nav-list {
    @include inline-block(middle);
    color: $bluey-grey;
    transition: 0.3s;
    @media (max-width: 1024px) {
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
    }
    &:hover {
        color: $dark;
    }
    &.active {
        color: $dark;
    }
    .user-name {
        @include text-ellipsis(110px);
        @include inline-block(middle);
        &.arrow-down::after {
            top: 17px;
        }
    }
    .menu-bar {
        @include height-width(24px, 24px);
    }
    .app-logo {
        @include height-width(40px, 186px);
    }
    .pro-pic {
        @include height-width(36px, 36px);
        @include inline-block(middle);
    }
    img {
        @include height-width(100%, 100%);
    }
    .bell-icon {
        @include height-width(24px, 21px);
    }
}
