.header {
    background: $white;
    width: 100%;
    @include position(fixed, 0, null, null, 0);
    z-index: 10;
    .navbar {
        display: flex;
        align-items: center;
        .nav-list__container {
            &:first-child {
                margin-right: auto;
            }
        }
    }
}

.nav-list {
    @include inline-block(middle);
    color: $bluey-grey;
    transition: 0.3s;
    @media (max-width: 1024px) {
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
    }
    &:hover {
        color: $dark;
    }
    &.active {
        color: $dark;
    }
    .user-name {
        @include text-ellipsis(110px);
        vertical-align: middle;
    }
    .menu-bar {
        @include height-width(24px, 24px);
    }
    .app-logo {
        @include height-width(40px, 186px);
    }
    .pro-pic {
        @include height-width(36px, 36px);
    }
    img {
        @include height-width(100%, 100%);
    }
    .bell-icon {
        @include height-width(24px, 21px);
    }
    .arrow-down {
        @include inline-block(middle);
        border-left: 4.5px solid transparent;
        border-right: 4.5px solid transparent;
        border-top: 4.5px solid $battleship-grey;
    }
}
